@using BookApp.Web.Startup
@using BookApp.Web.Host.Controllers
@using BookApp.Web.Models.Common.Modals
@using BookApp.Web.Models.BookCategories
@{
    ViewBag.Title = L("BookCategories");
    ViewBag.CurrentPageName = PageNames.BookCategories;
}
@section scripts{
    <encironment name="Development">
        <script src="~/view-resources/Views/BookCategories/Index.js" asp-append-version="true"></script>
    </encironment>
}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1">
                            <i class="fa fa-bars"></i>
                        </span>
                        <div class="info-box-content">
                            <h1 class="info-box-text">Book Category List Dashboard</h1>
                        </div>
                        <span class="info-box-icon">
                            <a href="/BookCategories/Create" class="save-button btn float-sm-right btn-lg" type="button" style="border-radius: 50%;background-color:#0074B7;color:white" bookcategory-id="Id">
                                <i class="fas fa-plus"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>   

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="BookTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                    <th>Department Name</th>
                                    <th style="width:200px">Actions</th>
                                </tr>
                            </thead>
                        @foreach (var bookcategory in Model.BookCategories)
                        {
                            <tr>
                                <td>@bookcategory.Id</td>
                                <td>@bookcategory.Name</td>
                                <td>@bookcategory.Department?.Name</td>
                                <td>
                                    <a href="/BookCategories/Create/@bookcategory.Id" type="button" class="update-button btn btn-sm bg-primary edit-role" name="Update">
                                        <i class="fas fa-pencil-alt"></i> Update
                                    </a>
                                    <button type="button" class="delete-button btn btn-sm bg-danger" name="Delete" bookcategory-id="@bookcategory.Id">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>