@using BookApp.Web.Models.Book
@using BookApp.Web.Startup
@using BookApp.Web.Host.Controllers
@model CreateBookViewModel
@{
    ViewBag.Title = L("Book");
    ViewBag.CurrentPageName = PageNames.Book;
}
@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Book/Create.js" asp-append-version="true"></script>
    </environment>
}
    <body>
        <div class="bg-opacity-5 py-2" id="form">
            <form style="text-align: center" name="BookInformationForm" role="form" class="form-validation form-horizontal">
                <div class="container">
                    <h3 class="col-md-10">Book Information Form</h3><br>
                </div>
                <input type="hidden" name="Id" value="@Model?.Id" class="form-control">
                <div class="row">
                    <div class="col-md-9 mb-10">
                        <div role="tabpanel" class="tab-pane container active">
                            <div class="form-group row mb-2 required" style="text-align: center">
                                <label class="col-md-3 col-form-label" style="text-align:right">Book Title</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookTitle" id="BookTitle" value="@Model?.BookTitle" class="form-control" placeholder="Title" required maxlength="255" minlength="2">
                                </div>
                            </div>
                            <div class="form-group row mb-2 required" style="text-align: center">
                                <label class="col-md-3 col-form-label" style="text-align:right">Author</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookAuthor" id="BookAuthor" value="@Model?.BookAuthor" class="form-control" placeholder="Author" required maxlength="32" minlength="2">
                                </div>
                            </div>
                            <div class="form-group row mb-2 required" style="text-align: center">
                                <label class="col-md-3 col-form-label" style="text-align:right">Publisher</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookPublisher" id="BookPublisher" value="@Model?.BookPublisher" class="form-control" placeholder="Publisher" required maxlength="255" minlength="2">
                                </div>
                            </div>
                            <input type="hidden" name="BookCategoriesId" id="BookCategoriesId" value="@Model?.BookCategoriesId" class="form-control">
                            <div class="form-group row required text-align: center">
                                <label class="col-md-3 col-form-label" style="text-align:right">Categories</label><br>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.BookCategoriesId, Model.ListBookCategories.Select(d => new SelectListItem { Value = d.Id.ToString(), Text = d.Name}), "--Select Category--", new { @class = "form-control bookcategories", @id="bookcategories"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row modal-footer justify-content-between">
                    <div class="col-md-9 mb-10">
                            <button type="submit" class="save-button btn btn-primary" name="Create">Save</button>
                            <button type="button" class="back-button btn btn-secondary" name="Back">Back</button>                           
                    </div>
                </div>
        </form>
        </div>
    </body>


