@using BookApp.Web.Models.Book
@using BookApp.Web.Startup
@using BookApp.Web.Host.Controllers
@model CreateBookViewModel
@{
    ViewBag.Title = L("Book");
    ViewBag.CurrentPageName = PageNames.Book;
}
@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Book/Create.js" asp-append-version="true"></script>
    </environment>
}
    <body>
        <div class="bg-opacity-5 py-2" id="form">
            <form style="text-align: center" name="BookInformationForm" role="form" class="form-validation form-horizontal">
                <div class="container">
                    <h3 class="col-md-10">Book Information Form</h3><br>
                </div>
                <input type="hidden" name="Id" value="@Model?.Id" class="form-control">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div>
                            <div class="form-group row required text-align: center">
                                <label class="col-md-3 col-form-label" for="rolename">Book Title</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookTitle" id="BookTitle" value="@Model?.BookTitle" class="form-control" placeholder="Title" required maxlength="255" minlength="2">
                                </div>
                            </div>
                            <div class="form-group row required text-align: center">
                                <label class="col-md-3 col-form-label" for="displayname">Author</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookAuthor" id="BookAuthor" value="@Model?.BookAuthor" class="form-control" placeholder="Author" required maxlength="32" minlength="2">
                                </div>
                            </div>
                            <div class="form-group row required text-align: center">
                                <label class="col-md-3 col-form-label" for="displayname">Publisher</label><br>
                                <div class="col-md-9">
                                    <input type="text" name="BookPublisher" id="BookPublisher" value="@Model?.BookPublisher" class="form-control" placeholder="Publisher" required maxlength="255" minlength="2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            @*<button class="save-button btn bg-blue float-sm-right btn-add" type="button" onclick="location.href'@Url.Action("Save", "Book")'">Add</button>*@
                            <button type="submit" class="save-button btn btn-primary" name="CreateBook">Save</button>
                            <button type="button" class="back-button btn btn-secondary" name="Back">Back</button>
                            @*<div class="col-md-6">
                        @Html.PartialAsync("~/Views/Book/CreateBook.cshtml")
                        </div>*@
                        </div>
                    </div>
            </form>
        </div>
    </body>


