@using BookApp.Web.Models.Book
@using BookApp.Web.Host.Controllers


<body>
    <div class="tab-content mt-4">
        <section>
            <h3 style="text-align: center">Book Information Form</h3>
        </section>
        <form>
            <div class="col-6">
                <div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="rolename">Book Title</label><br>
                        <div class="col-md-9">
                            <input type="text" name="BookTitle" class="form-control" placeholder="Title" required maxlength="255" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="displayname">Author</label><br>
                        <div class="col-md-9">
                            <input type="text" name="BookAuthor" class="form-control" placeholder="Author"  required maxlength="32" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="displayname">Publisher</label><br>
                        <div class="col-md-9">
                            <input type="text" name="BookPublisher" class="form-control" placeholder="Publisher" required maxlength="255" minlength="2">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        @*<button class="save-button btn bg-blue float-sm-right btn-add" type="button" onclick="location.href'@Url.Action("Save", "Book")'">Add</button>*@
                        <a href="/Book" type="button" class="btn btn-primary" name="CreateBook">Add</a>
                        @*<div class="col-md-6">
                        @Html.PartialAsync("~/Views/Book/CreateBook.cshtml")
                        </div>*@
                    </div>
                </div>
            </div>
        </section>        
    </div>
</body>


